.background-page {
  background-color: #0f0f0f;
}

.color-div {
  background-color: #0f0f0f;
}

.background-imagescreen {
  background: rgba(0, 0, 0, 0.5);
}
.button-style {
  background-color: #0f0f0f;

  width: 45px;
  border: 0;
}

.button-style2 {
  width: 20px;
  border: 0;

  border-radius: 4px;
  background-color: #0f0f0f;
  color: #fff;
  background-repeat: no-repeat;
  background-position-x: 50px;
  text-indent: -20px;
}
