.presentation-container {
  font-family: Futura, sans-serif;
  background-color: #0f0f0f;
}

.presentation-container section {
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
  color: #333;
}

h2 {
  font-size: 28px;
  color: #abd1f3;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #828181;
  line-height: 1.5;
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  max-height: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  flex: 1;
  max-width: 100%;
  max-height: 100vh;
  margin: 10px;
}

.column h2,
.column p {
  margin: 0;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #999;
}

.footer p {
  font-size: 14px;
}

.presentation-container section {
  min-height: 24rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

.hero {
  background: "#0c0c0c";
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 3rem;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, #0f0f0f, transparent 100%);
  z-index: 3;
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  z-index: 3;
}

.hero__content h1 {
  color: white;
  font-size: 10rem;
  box-shadow: rgba(0, 0, 0, 0.4);
  font-weight: 100;
  background: -webkit-linear-gradient(#ffffff, #abd1f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sections section {
  max-height: 100vh;

  margin-bottom: 4rem;
}

.column img {
  display: block;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}
