.navbar {
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #0f0f0f;
}

.navbar__items {
  display: flex;

  text-decoration: none;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.navbar__items li a {
  font-family: "Futura", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo {
  font-family: "monoton";
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.logo2 {
  font-family: "Futura", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

a {
  text-decoration: none;
}
